<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.JD">

    <application
        android:name="ie.JD.main.RestaurantApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ie.JD.activities.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ie.JD.activities.Add" />
        <activity android:name="ie.JD.activities.Help" />
        <activity android:name="ie.JD.activities.MealHome" />
        <activity android:name="ie.JD.activities.MealAdd" />
        <activity android:name="ie.JD.activities.MealEdit" />
        <activity android:name="ie.JD.activities.MealSearch" />
        <activity android:name="ie.JD.activities.MealHelp" />
        <activity android:name="ie.JD.activities.MealFavourites" />
        <activity android:name="ie.JD.activities.Favourites" />
        <activity android:name="ie.JD.activities.Search" />
    </application>

</manifest>